.main{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 70vh;
    width: 40vw;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgb(207, 205, 205);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.form-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;


}
label{
    margin-block: 10px;
    width: 100%;

}
input{
    margin-bottom: 30px;
    width: 70%;
    min-height: 30px;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: inset 0 0 5px 1.5px rgb(207, 205, 205);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline: 10px;
}
button{
    width: 50%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: tomato;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    scale: 1.05;
}
